.professional-ats-resume {
    width: 100%;
    min-height: 1120px;
    position: relative;
    padding: 20px 30px;
    text-align: left;
    display: flex;
    gap: 5%;
    background-color: white;
    background-size: cover;
    background-position: right;
}

.professional-ats-resume .resume-qr-code {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.professional-ats-resume .left-column {
    width: 40%;
}

.professional-ats-resume .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.professional-ats-resume h2 {
    margin: 10px 0px 10px 0px;
    color: #757500;
    text-transform: uppercase;
}

.professional-ats-resume b {
    font-size: 12px;
}

.professional-ats-resume .left-column .contact-information ul li {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    font-weight: 500;
    
}
.professional-ats-resume .left-column .contact-information ul li p{
    margin-top: 3px;
    align-items: center;
}

.professional-ats-resume .left-column .contact-information ul a:nth-last-child(1) li {
    margin-bottom: 0px;
}

.professional-ats-resume .left-column .contact-information i {
    margin-right: 15px;
    font-size: 12px;
    background-color: #F6FF68;
    color: black;
    padding: 12px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.professional-ats-resume .left-column .skills-information ul li {
    list-style: none;
    background-color: #F6FF68;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.professional-ats-resume .left-column .skills-information ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.professional-ats-resume .left-column .project-information .project-details {
    padding-bottom: 8px;
}

.professional-ats-resume .left-column .project-information .project-details:nth-last-child(1) {
    padding-bottom: 0px;
}

.professional-ats-resume .left-column .project-information .project-details i {
    font-weight: 500;
    /* color: #757500; */
}

.professional-ats-resume .left-column .hobbies-information ul li {
    list-style: none;
    background-color: #F6FF68;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.professional-ats-resume .left-column .hobbies-information ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.professional-ats-resume h1 {
    font-size: 30px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
}

.professional-ats-resume h4 {
    font-size: 14px;
    width: 80%;
    position: relative;
    top: 10px;
    background-color: #fff;
}

.professional-ats-resume .right-column {
    width: 57%;
}

.professional-ats-resume .right-column .personal-details {
   
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.professional-ats-resume .right-column .common-section .common-details {
    padding-bottom: 8px;
}

.professional-ats-resume .right-column .common-section .common-details:nth-last-child(1) {
    padding-bottom: 0px;
}

.professional-ats-resume .right-column .common-section .common-level i {
    font-weight: 500;
    /* color: #757500; */
}

.professional-ats-resume .right-column .common-section .common-details .common-level {
    display: flex;
    justify-content: space-between;
}
.professional-ats-resume .right-column .common-section .common-details  .all-name-section-wdt{
    width: 67%;
 }
 .professional-ats-resume .right-column .common-section .common-details .all-name-section-date{
    width: 33%;
   text-align: end;
 }

.professional-ats-resume .right-column .languages-information  ul li {
    list-style: none;
    background-color: #F6FF68;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.professional-ats-resume .right-column .languages-information  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}