.sidebar {
  position: relative;
  background-color: #fafafa;
  width: 12%;
  position: relative;
  border-right: 1px solid #e5e5e5;
  padding-top: 20px;
}

.sidebar .sidebar-icon {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  cursor: pointer;
  font-family: "Mulish";
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: clamp(8px, 1vw, 14px);
  position: relative;
}

.sidebar .sidebar-icon .premium {
  position: absolute;
  right: 0px;
  width: 15px;
  height: 15px;
  color: #DAB04A;
}


.sidebar .sidebar-icon:hover {
  background-color: #f2f2f2;
  color: #5a4abd;
}

.sidebar .sidebar-icon svg {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}

/* RESPONSIVE CSS */
@media screen and (max-width: 1440px) {
  .sidebar {
    width: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar .sidebar-icon p {
    display: none;
  }

  .sidebar .sidebar-icon .premium {
    min-width: 5px !important;
    min-height: 5px !important;
    top: 5px;
    right: 10px;
  }

  .sidebar {
    width: auto;
    padding-top: 0;
  }

  .sidebar .sidebar-icon svg {
    min-width: 20px;
    min-height: 20px;
    margin-right: 0px;
  }

  .sidebar .sidebar-icon {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Full-page .sidebar .sidebar-icon .premium {
    width: 15px;
    height: 15px;
    top: 10px;
    left: -12px;
    color: #DAB04A !important;
  }
}

@media screen and (max-width: 450px) {
  .Full-page .sidebar .sidebar-icon .premium {
    width: 14px;
    height: 14px;
  }
}